@font-face {
    font-family: 'Mitr-Medium';
    src: url("/Fonts/Mitr-Medium.ttf");
}

.headerpc {
    /*background: white;*/
    background-image: url("/images/header/Asset 1.png");
    background-size: 102vw auto;
    height: 25vh;
    width: 100vw;
    background-position: center top -30px;
    background-repeat: no-repeat;
}

.inline-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.inline-list-left li {
    display: inline-block;
    margin-right: 55px;
    margin-top: 10px;
}
.inline-container {
    display: flex;
    align-items: center;
}

.logo {;
    margin-left: 50px;
    margin-right: 50px;
    width: 12vw;
}

.inline-list-right li {
    display: inline-block;
    margin-right: 54px;
    margin-top: 10px;
}

ul li a {
    text-decoration: none;
    list-style-type: none;
    color: #404041;
}

ul li a p {
    font-family: 'Mitr-Medium', sans-serif;
}

ul li a:hover {
    color: #59843D;
}
