@font-face {
    font-family: 'Mitr-Medium';
    src: url("/Fonts/Mitr-Medium.ttf");
}

.headerpc {
    /*background: white;*/
    background-image: url("/images/header/Asset 1.png");
    background-size: 102vw auto;
    height: 25vh;
    width: 100vw;
    background-position: center top -15px;
    background-repeat: no-repeat;
}

.inline-list-left li {
    display: inline-block;
    margin-right: 55px;
    margin-top: 25px;
}
.inline-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    width: 12vw;
}

.inline-list-right li {
    display: inline-block;
    margin-right: 54px;
    margin-top: 25px;
}

ul li a {
    text-decoration: none;
    list-style-type: none;
    color: #404041;
}

ul li a p {
    font-family: 'Mitr-Medium', sans-serif;
    font-size: 13px;
}

ul li a:hover {
    color: #59843D;
}

.headermb {
    display: none;
}

ul.hide {
    display: none;
}

ul.iconmb {
    /*display: none;*/
    position: fixed;
    background: rgba(18, 22, 36, 0.9); /* Chỉnh độ mờ thành 90% */
    width: 100vw;
    height: 100vh;
    z-index: 999;
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .headerpc {
        display: none;
    }
    .sec3pc {
        display: none;
    }
    .sec4pc {
        display: none;
    }
    .sec6pc {
        display: none;
    }
    .sec10pc {
        display: none;
    }
    .headermb {
        display: inline;
        background-image: url("/images/header/Group 1275.png");
        background-size: 105vw auto;
        height: 25vh;
        width: 100vw;
        background-position: center top -20px;
        background-repeat: no-repeat;
    }
    .logomb {
        width: 28vw;
        margin-left: 2%;
        margin-top: 1%;
    }
    .menu {
        width: 5vw;
        position: absolute;
        right: 5px!important;
        margin-top: -2%;
    }
}
