.sec10pc {
    background-image: url("/images/sec10/Rectangle 4.png");
    background-size: cover;
}

.headersec10 {
    margin-top: -1%;
    margin-left: 15%;
    width: 73vw;
}

.daily {
    /*position: absolute;*/
    margin-top: -7.5%;
    margin-left: 17%;
}

.svg-input {
    /*width: 271.266px;*/
    height: 40.891px;
    width: 16vw;
    border-radius: 27.445px;
    border: none;
    background-color: #fff;
    filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.3));
    margin-right: 0.5%;
    padding: 20px;
    /* Các thuộc tính CSS khác để điều chỉnh kiểu dáng */
}


.svg-input:focus {
    outline: none;
}

.formOutline {
    width: 30vw;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 3%;
    filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.3));
}

.submitbutton {
    width: 18.5vw;
    height: 50.891px;
    position: absolute;
}

.dailybutton {
    border: none;
    background: none;
    position: absolute;
    margin-left: 68%;
    margin-top: -7.5%;
}

.button4 {
    width: 18vw;
    height: 40px;
}

.form-customer {
    position: absolute;
    margin-left: 17%;
    margin-top: -30%;
}

.svg-input-customer {
    /*width: 271.266px;*/
    height: 40.891px;
    width: 25vw;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.3));
    padding: 10px;
    /* Các thuộc tính CSS khác để điều chỉnh kiểu dáng */
}

.svg-input-customer:focus {
    outline: none;
}

.svg-input-bot {
    width: 25vw;
    height: 100.008px;
    border-radius: 15px;
    border: none;
    background-color: #fff;
    filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.3));
    padding: 10px; /* Tùy chỉnh khoảng cách giữa chữ và viền của input */
    box-sizing: border-box;
}

.svg-input-bot::placeholder {
    white-space: pre-wrap;
}

.svg-input-bot:focus {
    outline: none;
}

.customer-button {
    border: none;
    background: none;
}

.sec10mb {
    display: none;
}

.button5 {
    width: 26.5vw;
    position: absolute;
    margin-left: -2%;
}

@media screen and (min-width: 1700px) and (max-width: 1920px) {
    .daily {
        /*position: absolute;*/
        margin-top: -6%;
        margin-left: 18%;
    }
    .svg-input {
        width: 15.5vw;
    }
    .dailybutton {
        margin-left: 67%;
        margin-top: -6.5%;
    }
}

@media screen and (max-width: 768px) {
    .sec10pc {
        display: none;
    }
    .sec10mb {
        display: block;
        /*text-align: center;*/
        /*justify-content: center;*/
        background-image: url("/images/sec10/Group 1270.png");
        background-size: cover;
        background-position: center top 25px;
    }
    .headersec10mb {
        width: 90vw;
        height: 40vh;
        margin-top: -15%;
    }
    .dailymb {
        margin-top: 5%;
        margin-left: 5%;
        width: 90vw;
        background-color: white;
        /*height: 18vh;*/
        border-radius: 10px;
        filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.2));
    }
    .bannerdaily {
        width: 70vw;
        margin-left: 2%;
    }
    .formdailymb {
        display: inline;
    }
    .svg-input-mb {
        width: 27vw;
        border: none;
        border-radius: 20px;
        filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.2));
        padding-left: 10px;
        margin-left: 1%;
        margin-top: 3%;
    }

    /*.svg-input-mb {*/
    /*    height: 25px;*/
    /*    width: 25vw;*/
    /*    !*border-radius: 27.445px;*!*/
    /*    border: none;*/
    /*    background-color: #fff;*/
    /*    !*filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.5));*!*/
    /*    margin-right: 0.5%;*/
    /*    padding-left: 10px;*/
    /*}*/
    .svg-input-mb::placeholder {
        font-size: 12px;
    }
    .submitbutton-mb{
        /*position: absolute;*/
        width: 40vw;
        margin-top: 5%;
        margin-left: 55%;
    }
    .daily-button-mb {
        border: none;
        background: none;
        /*margin-top: -50%;*/
    }
    .button4mb {
        position: absolute;
        width: 45vw;
        margin-top: -15.5%;
        margin-left: 5%;
    }
    .bannercustomermb {
        width: 50vw;
        margin-left: 5%;
    }
    .customer-mb {
        width: 50vw;
        margin-left: 5%;
        background-image: url("/images/sec10/Group 5082.png");
        background-size: 100% 100%;
    }
    .svg-input-customer-mb {
        border-radius: 5px;
        border: none;
        padding-left: 10px;
        margin-top: 5%;
        /*margin-top: -10%!important;*/
        width: 42vw;
        margin-left: 5%;
        filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.2));
    }
    .svg-input-customer-mb::placeholder {
        font-size: 12px;
        color: #A6A8AB;
    }
    .svg-input-customer-mb:focus {
        outline: none;
    }
    .svg-input-bot-mb:focus {
        outline: none;
    }
    .svg-input-bot-mb {
        border-radius: 5px;
        border: none;
        padding-left: 10px;
        margin-top: 5%;
        /*margin-top: -10%!important;*/
        width: 42vw;
        margin-left: 5%;
        filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.2));
    }
    .svg-input-bot-mb::placeholder {
        font-size: 12px;
        color: #A6A8AB;
    }
    .customer-button-mb {
        border: none;
        background: none;
    }
    .button5mb {
        width: 45vw;
        margin-left: 3%;
        padding-bottom: 5%;
    }
    .spacesec10mb {
        height: 15px;
    }
    .text1customersec10mb {
        font-family: 'Mitr-Regular', Mitr;
        /*font-weight: bold;*/
        color: white;
        padding-top: 5%;
        font-size: 15px;
        text-align: center;
        filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.2));
    }
    .customer-top {
        margin-top: -10% !important;
    }
    .text2customersec10mb {
        font-family: Mitr-SemiBold, sans-serif;
        font-weight: bold;
        color: white;
        margin-top: -10%;
        /*margin-left: 18%;*/
        font-size: 20px;
        text-align: center;
        filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.2));
    }
}
