.sec2 {
    background-image: url("/images/sec2/Rectangle 107.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    background-position: 150px 0;

    /*height: 100vh;*/
}

.headersec2 {
    margin-left: 52%;
    margin-top: 1%;
    width: 25vw;
}

.contentsec2 {
    width: 33vw;
    margin-left: 55%;
}

.contentsec2line1 {
    position: absolute;
    width: 24vw;
    margin-left: 62.5%;
    margin-top: 4%;
    font-size: 13px;
    text-align: justify;
}

.contentsec2linebot {
    position: absolute;
    width: 24vw;
    margin-left: 62.5%;
    margin-top: -5%;
    font-size: 13px;
    text-align: justify;
}

.contentsec2img {
    width: 40vw;
    margin-left: 47%;
}
