@font-face {
    font-family: 'Mulish-SemiBold';
    src: url("/Fonts/Mulish-SemiBold.ttf");
}

.sec3pc {
    height: 100vh;
}

.headersec3 {
    margin-left: 13%;
    margin-top: 5%;
    width: 28vw;
}

.contentsec3 {
    font-family: 'Mulish-SemiBold', sans-serif;
    width: 28vw;
    margin-left: 15%;
    font-size: 15px;
    margin-top: 3%;
    text-align: justify;
}

.imgvideo {
    margin-top: 3%;
    position: absolute;
    right: 0;
    width: 50vw;
    height: 90vh;
}

.buttonvideo {
    position: absolute;
    right: 200px;
    /*margin-top: 15%;*/
    width: 22vw;
}

.button1 {
    margin-left: 30%;
    margin-top: 2%;
    width: 15vw;
}

.sec3mb {
    display: none;
}

@media screen and (max-width: 768px) {
    .sec3pc {
        display: none;
    }
    .sec3mb {
        display: block;
        text-align: center;
        justify-content: center;
    }
    .headersec3mb {
        margin-top: 5%;
        width: 45vw;
    }
    .contentsec3mb {
        width: 80vw;
        text-align: justify;
        justify-content: center;
        font-size: 15px;
        margin-left: 10%;
        font-family: 'Mulish-SemiBold', sans-serif;
    }
    .button1mb {
    width: 38vw;
    }
    .headersec4mb {
        width: 45vw;
    }
    .utube {
        margin-left: 10%;
    }
}
