.containersec3-GT {
    width: 100vw;
}

.headersec3-GT {
    margin-left: 25%;
    width: 25vw;
    margin-top: -20%;
}

.imgsec3-GT {
    margin-top: 2%;
    margin-left: 5%;
    width: 35vw;
    height: 80vh;
}

.contentsec3-GT {
    width: 35vw;
    margin-left: 15%;
    font-size: 15px;
    text-align: justify;
    margin-top: -24%;
}

.arrangesec3-GT {
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: 5%;
    width: 35vw;
}
