.sec3-DL {
    margin-top: 3%;
    margin-bottom: 3%;
}

.containersec3-DL {
    margin-top: 5%;
    text-align: right;
    justify-content: right;
    padding-right: 5%;
}

.headersec3-DL {
    width: 60%;
    margin-bottom: 2%;
}

.contentsec3-DL {
}

.bannersec3-DL {
padding-right: 7%;
}

.sec3mb-DL {
    display: none;
}

@media screen and (max-width: 768px) {
    .sec3-DL {
        display: none;
    }

    .sec3mb-DL {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .headersec3mb-DL {
        width: 50vw;
        margin-top: 5%;
    }

    .content1sec3mb-DL {
        margin-top: 1%;
    }

    .content3sec3mb-DL {
        margin-top: -3%;
    }

    .content4sec3mb-DL {
        margin-top: 2%;
    }

    .content5sec3mb-DL {
        margin-top: -2%;
    }
}
