.imgsec4-GT {
    width: 35vw;
    margin-left: 15%;
    height: 80vh;
    margin-top: 5%;
}

.headersec4-GT {
    width: 25vw;
    margin-left: 5%;
    margin-top: -23%;
}

.textsec4-GT {
    width: 35vw;
    font-size: 15px;
    text-align: justify;
    position: absolute;
    margin-left: 56%;
    margin-top: -28%;
}

