.sec6-NM {
    background-color: #F1F1F2;
    text-align: center;
    padding-top: 3%;
}

.header1sec6-NM {
    font-family: Mitr-Regular, sans-serif;
    font-size: 50px;
    color: #F79420;
}

.header2sec6-NM {
    font-family: Mitr-SemiBold, sans-serif;
    font-size: 60px;
    color: #59843D;
    margin-top: -1.5%;
}
