.sec6-DL {
    background-color: #F1F1F2;
    text-align: center;
    margin-bottom: 3%;
}

.headersec6-DL {
    width: 17vw;
    /*scale: 55%;*/
    margin-bottom: 3%;
    margin-top: 1%;
}

.sec6mb-DL {
    display: none;
}

@media screen and (max-width: 768px) {
    .sec6-DL {
        display: none;
    }
    .sec6mb-DL {
        display: block;
        text-align: center;
        background-color: #F1F1F2;
        padding-bottom: 7%;
        padding-top: 8%;
    }
    .headersec6mb-DL {
        width: 50vw;
        margin-top: 4%;
    }
    .utubesec6-DL {
        margin-left: 10%;
        padding-bottom: 8%;
        margin-top: 8%;
    }
}
