.headersec6-GT {
    width: 70vw;
    margin-left: 15%;
}

.imgsec6-GT {
    width: 45vw;
    margin-left: 6%;
    margin-bottom: 3%;
}

.textsec6-GT {
    float: right;
    width: 35vw;
    text-align: justify;
    margin-right: 10%;
    margin-top: 3%;
}

.sec6mb-GT {
    display: none;
}

@media screen and (max-width: 768px) {
    .sec6-GT {
        display: none;
    }
    .sec6mb-GT {
        display: block;
        text-align: center;
        justify-content: center;
    }
    .imgsec6mb-GT {
        width: 90vw;
        margin-top: 2%;
        margin-bottom: 3%;
    }
    .headersec6mb-GT {
        width: 85vw;
        margin-top: 8%;
    }
}
