.headersec6-GT {
    width: 70vw;
    margin-left: 15%;
}

.imgsec6-GT {
    width: 45vw;
    margin-left: 6%;
    margin-bottom: 3%;
}

.textsec6-GT {
    float: right;
    width: 35vw;
    text-align: justify;
    margin-right: 10%;
    margin-top: 3%;
}
