.sec8-DL {
    background-image: url("/images/dai-ly/sec8/Group 2096.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top 120px;
}

.contentsec8-DL {
    width: 40vw;
    margin-left: 55%;
    margin-top: 5%;
    /*margin-bottom: 8%;*/
}
