
.sec9-QC {
    padding-bottom: 3%;
}

.header1sec9-QC {
    font-family: Mitr-Regular, sans-serif;
    font-size: 60px;
    color: #F79420;
}

.header2sec9-QC {
    font-family: Mitr-SemiBold, sans-serif;
    font-size: 35px;
    color: #59843D;
    margin-top: -3%;
}

.header3sec9-QC {
    font-family: Mitr-SemiBold, sans-serif;
    font-size: 65px;
    color: #59843D;
    margin-top: -5%;
}
